* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #272a31;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 8rem;
  position: relative;
}

.logo {
  height: 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #272a31;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ec5242;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  color: #ec5242;
  border: 0.5rem solid #ec5242;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #f6a9a1;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #272a31;
}

.icon-mobile-nav .icon-close {
  display: none;
}

.section-hero {
  background-image: url(../imgs/bg-desktop.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-services {
  background-color: #272a31;
  color: #fff;
}

.section-services .container {
  padding-bottom: 18rem;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
}

.section-services .heading-secondary {
  padding-top: 4.8rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.partition {
  width: 8rem;
  height: 0.2rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;
  background-color: #ec5242;
}

.services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.4rem;
}

.services div {
  background-color: #3d3f46;
}

.service {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.service-title {
  font-size: 2rem;
  line-height: 1.2;
  color: #ec5242;
}

.service-desc {
  font-size: 1.6rem;
  text-align: center;
}

.section-team {
  padding-bottom: 8rem;
}

.section-team .heading-secondary {
  color: #272a31;
  padding-top: 4.8rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 6.4rem;
}

.member {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3.2rem;
}

.member-img-container {
  background-image: url(../imgs/board.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top left;
}

.member-img {
  width: 100%;
  transform: translate(1.5rem, 1.5rem);
}

.member-content {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.member-name {
  font-size: 2.4rem;
}

.member-job {
  font-size: 1.4rem;
  color: #ec5242;
}

.indicator {
  width: 2.4rem;
  height: 0.1rem;
  background-color: #d3d3d3;
}

.member-desc {
  font-size: 1.4rem;
  line-height: 1.2;
}

.section-clients {
  background-color: #3d3f46;
  color: #d3d3d3;
}

.section-clients .heading-secondary {
  padding-top: 4.8rem;
  text-align: center;
  margin-bottom: 1.2rem;
}
